body {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    background-color: rgb(27, 27, 27);
    color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-top: 10px;
}

th,
td {
    border: 1px solid rgb(50, 50, 50);
    text-align: left;
    padding: 10px;
}

th {
    font-size: 13px;
    font-weight: 500;
    color: rgb(107, 107, 107);
    background-color: rgb(27, 27, 27);
}

.td-time {
    width: 1px;
    white-space: nowrap;
}

.highlight {
    color: rgb(107, 107, 107);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.td-link,
a {
    color: rgb(107, 107, 107);
    text-decoration: none;
    text-align: center;
    width: 25px;
    white-space: nowrap;
}

.td-type,
.td-mark {
    color: rgb(107, 107, 107);
    ;
    text-align: center;
    width: 25px;
    white-space: nowrap;
}